<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <title>{{ .Title }} | {{ .Site.Params.AuthorName }} </title>

  <body class="body">

    {{ partial "page-bug-reporter.html" . }}
    
    <div class="container">

      <section class="mw7 center">
          {{ partial "header.html" . }}

        <article class="pa3 pa5-ns pv4 ph3 ph0-l b--black-10">


          <h1 class="f2 f2-m f2-l source-sans-pro mt0 mb1 lh-title">{{ .Title }} </h1>

          <div class="article-publish-date source-sans-pro black-50">
            <time>{{ .Date.Format "2006, January" }}</time>
          </div>          
          

          <div class="article-content f4 f6-m lh-comfort libre-baskerville measure-wide">
            {{ .Content }}
          </div>


        </article>
      </section>

      <section class="mw7 center span">
        {{ partial "footer.html" . }}
      </section>
      
    </div>
  </body>
</html>
