<article class="article-list-item mt2 mb4 pv2">
  <div class="article-content">  
    <div class="flex flex-column flex-row-ns">

      <div class="w-100 w-70-ns order-2 order-1-ns pr3">
        <h1 class="f3 lh-title source-sans-pro mb1">
          <!-- {{ .Title }} -->
          <a href="{{ .Permalink }}" class="link dim black" aria-label="Go to {{ .Title }} news">{{ .Title }}</a>
        </h1>

        <div class="article-publish-date source-sans-pro black-30">
          <time>{{ .Date.Format "January 02, 2006" }}</time>
        </div>
    
        <p class="f3 lh-comfort tj source-sans-pro mt3">
          {{ .Summary }}
        </p>
        
        <div class="article-tags pb2 tj">
            {{ if .Params.tags }}
              <span class="">
                {{ range $index, $tag := .Params.tags }}
                {{ if gt $index 0 }}
                {{ end }}
                </i>
                <a class="article-tag source-sans-pro link xdim black-30 f5 fw1 lh-wide ba br3 bg-near-white pv1 ph2" 
                href="{{ "tags/" | relURL }}{{ . | urlize }}"><i class="icon icon-hash"></i>{{ $tag }}</a>
                {{ end }}</span>
              {{ end }}  
            </div>        
      </div>

      <div class="order-1 order-2-ns w-100 w-30-ns">
      {{ if .Params.Thumb }} 
        <div class="article-thumbnail-img-container h-100 bl b--light-gray">
        <img
          data-src="{{ .Params.Thumb }}"
          src="/static/placeholder.png"
          class="article-thumbnail-img w-100 lazy v-mid pl2"
          {{ if .Params.ThumbAlt }} 
            alt="{{ .Params.ThumbAlt }} "
          {{ end }}      
          />
        </div>

      {{ else }}
        <div class="h-100 b--light-gray"></div>
      {{ end }} 
      </div>

    </div>

    <!-- <p class="f6 lh-copy gray mv0">By <span class="ttu">Robin Darnell</span></p> -->



  </div>
</article>    