<nav class="site-nav">
  
  <a href="{{ .Site.BaseURL }}" class="icon-home"></a>
  <a href="{{ .Site.BaseURL }}post/" class="icon-list"></a>
  <a href="{{ $.RSSLink }}" class="icon-feed"></a>

  {{ if eq .Site.Params.SocialLinks true -}}

  
    {{ if isset .Site.Params "twitterusername" -}}
    <a href="https://twitter.com/{{ .Site.Params.TwitterUsername }}" class="icon-social-twitter"></a>
    {{- end }}
|
    {{ if isset .Site.Params "linkedinusername" -}}
    <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedinusername }}" class="icon-social-linkedin"></a>
    {{- end }}

    {{ if isset .Site.Params "githubusername" -}}
    <a href="http://github.com/{{ .Site.Params.githubusername }}" class="icon-social-github"></a>
    {{- end }}

    {{ if isset .Site.Params "tumblrusername" -}}
    <a href="https://{{ .Site.Params.tumblrusername }}.tumblr.com/" class="icon-social-tumblr"></a>
    {{- end }}

    | <span class="owner">{{.Date.Year}} {{ .Site.Params.Author }}</span>

  {{- end }}

</nav>
