<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <!-- <link rel="stylesheet" href="/css/pygments/autumn.css" /> -->
  <title>{{ .Title }} | {{ .Site.Params.AuthorName }} </title>

  <body class="body">

    {{ partial "page-bug-reporter.html" . }}

    <div class="container">


      <section class="mw7 center">
          {{ partial "header.html" . }}

        <article class="pa3 pa5-ns pv4 ph3 ph0-l b--black-10">
          
          <div>
            <h1 class="f2 f2-m f2-l source-sans-pro mt0 mb1 lh-title">{{ .Title }} </h1>
            <div class="source-sans-pro ">by .GitInfo.AuthorName </div>
          </div>



          <div class="article-publish-date source-sans-pro black-50 mt3 bb pb1 b--black-10">
            <time>{{ .Date.Format "2006, January 02" }}</time><br>
          </div>

         

          <div class="article-content f4 f6-m lh-wide libre-baskerville measure-wide">
            {{ .Content }}
          </div>

          <div class="gitinfo source-sans-pro pl3 mt3">

        </div>


        </article>
      </section>

      <section class="mw7 center span">
        {{ partial "footer.html" . }}
      </section>
      
    </div>
  </body>
</html>
