<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  
  <body>
    <div class="container">

      <section class="mw7 center">

      {{ partial "header.html" . }}


        {{ range first (index .Site.Params "HomepagePosts" | default 10) (where .Data.Pages "Type" "post") }}

        <article class="article-list-item ba b--black-20 br2 bg-washed-blue mh2 mt2 pt4 ph3">

            <div class="article-content">
                {{ .Render "summary" }}
            </div>
    
          
        </article>
    

        {{ end }}
      </section>

      <section>
        <!-- {{ range first (index .Site.Params "HomepagePosts" | default 10) (where .Data.Pages "Type" "post") }}
        <article class="article">
          {{ .Render "list-item-expanded" }}
        </article>
        {{ end }} -->
      </section>
    
      {{ partial "footer.html" . }}


    </div>
  </body>

  
<script>
    var lazyLoadInstance = new LazyLoad({
        elements_selector: ".lazy"
        // ... more custom settings?
    });      
</script>
    
</html>
