<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body>
    <div class="container">
      {{ partial "header.html" . }}

      <section class="mw7 center">
        <h2 class="athelas ph3 ph0-l">News</h2>

        {{ range first (index .Site.Params "HomepagePosts" | default 10) (where .Data.Pages "Type" "post") }}

        <article class="pv4 b--black-10 ph3 ph0-l"></article>
          {{ .Render "summary" }}
        </article>

        {{ end }}
      </section>

      <section>
        <!-- {{ range first (index .Site.Params "HomepagePosts" | default 10) (where .Data.Pages "Type" "post") }}
        <article class="article">
          {{ .Render "list-item-expanded" }}
        </article>
        {{ end }} -->
      </section>

      {{ partial "nav.html" . }} {{ partial "footer.html" . }}
    </div>
  </body>
</html>
