<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <title>{{ .Title }} | {{ .Site.Params.AuthorName }} </title>
  
  <body>
    <div class="container">

        <section class="mw7 center ">

      {{ partial "header.html" . }}
          <h1 class="f2 f2-m f2-l source-sans-pro ph1 lh-title">{{ .Title }} </h1>

          {{ range (where .Data.Pages "Type" "news").GroupByDate "2006" -}}
          <article class="article pv3 ph2" >
            <!-- <div class="f3 source source-sans-pro fw6">{{ .Key }}</div> -->
            <ul class="list pl0">
              {{ range .Pages -}}
              <li>
                {{ .Render "list-item" }}
              </li>
              {{ end }}
            </ul>
          </article>
          
          {{ end }}
  
      </section>

  <section class="mw7 center span">
    {{ partial "footer.html" . }}
  </section>
  
    </div>


  </body>
</html>
