<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}
  <title>{{ .Title }} | {{ .Site.Params.AuthorName }} </title>

  <body>

    {{ partial "page-bug-reporter.html" . }}
    
    <div class="container">

        <section class="mw7 center ">

      {{ partial "header.html" . }}

          <h1 class="f2 f2-m f2-l source-sans-pro ph1 lh-title">{{ .Title }} </h1>

          <article class="article ph2">

            <div class="article-content f4 f6-m lh-wide libre-baskerville">
              <aside class="toc mt2">
                <div class="toc-container br2 ba b--black-20 pv2 pl4 pr2 mt4
                washed-green
                pattern-zigzag-xl
                ">
                  <button class="toggle-toc link black bg-animate dim" onclick="toggleTableOfContents()"></button>                
                  <h1 class="f2 f2-m f2-l fw5 source-sans-pro mb1 mt1 pa0 lh-title black fw7">Table of Contents</h1>
                  <div class="toc show">
                    {{ .TableOfContents }}   
                  </div>
                </div>           
              </aside>
            {{ .Content }}
            </div>
          </article>
            
      </section>

  <section class="mw7 center span">
    {{ partial "footer.html" . }}
  </section>
  
    </div>


  </body>
</html>
