<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <!-- <link rel="stylesheet" href="/css/pygments/autumn.css" /> -->
  <title>{{ .Title }} | {{ .Site.Params.AuthorName }} </title>

  <script>
    var toggleTableOfContents = function () {
      var el = document.querySelector(".toc-container .toc");
      el.classList.toggle("hide");
      el.classList.toggle("show");
      // debugger;
      document.querySelector('button.toggle-toc').classList.toggle("collapsed");
    }
  </script>

  <body class="body">

    

    {{ partial "page-bug-reporter.html" . }}

    <div class="container">


      <section class="mw7 center">
        {{ partial "header.html" . }}


        <article class="pa3 pa5-ns pv4 ph3 ph0-l b--black-10">

          <div>
            <h1 class="f2 f2-m f2-l source-sans-pro mt0 mb1 lh-title">{{ .Title }} </h1>
            {{ with .GitInfo }} {{ with .AuthorName }} <div class="source-sans-pro ">by  {{ . }}</div> {{ end }} {{ end }}
          </div>


          <div class="article-publish-date source-sans-pro black-50 mt3 bb pb1 b--black-10">
            <time>{{ .Date.Format "2006, January 02" }}</time><br>
            {{ with .GitInfo }} <time>Last updated: {{ .AuthorDate.Format "2006, January 02" }}</time> {{ end }}
          </div>

         
          <div class="article-content f4 f6-m lh-wide libre-baskerville">
            <aside class="toc mt2">
              <div class="toc-container br2 ba b--black-20 pv2 pl4 pr2 mt4">
                <button class="toggle-toc link black bg-animate dim" onclick="toggleTableOfContents()"></button>                
                <h1 class="f2 f2-m f2-l fw5 source-sans-pro mb1 mt1 pa0 lh-title">İçindekiler</h1>
                <div class="toc show">
                  {{ .TableOfContents }}   
                </div>
              </div>           
            </aside>
                        
            {{ .Content }}
          </div>

        
          {{ if .Resources }}

          <div class="resources bt b--black-20 mt3">

              <h2 class="pl3 source-sans-pro mt1 mb0 pa0 lh-comfort">Resources</h2>

              <ul class="list code lh-comfort mt0 ">
                <li class="">
                    {{ with .Resources.ByType "pdf" }}
                    {{ range . }}
                      <a class="link black bg-animate hover-bg-light-yellow" href="{{ .RelPermalink }} "><i class="icon icon-file-pdf"> </i> {{ .Title }}</a>
                    {{ end }}
                  {{ end }}


                </li>
    
                <li class="">
                    {{ with .Resources.Match "**.epub" }}
                    {{ range . }}
                      <a class="link black bg-animate hover-bg-light-yellow" href="{{ .RelPermalink }} "><i class="icon icon-book"> </i> {{ .Title }}</a>
                    {{ end }}
                  {{ end }}
                </li>

                <li class="">
                    {{ with .Resources.Match "**.txt" }}
                    {{ range . }}
                      <a class="link black bg-animate hover-bg-light-yellow" href="{{ .RelPermalink }} "><i class="icon icon-book"> </i> {{ .Title }}</a>
                    {{ end }}
                  {{ end }}
                </li>

                 <li class="">
                    {{ with .Resources.Match "**.ascii" }}
                    {{ range . }}
                      <a class="link black bg-animate hover-bg-light-yellow" href="{{ .RelPermalink }} "><i class="icon icon-book"> </i> {{ .Title }}</a>
                    {{ end }}
                  {{ end }}
                </li> 
                   
              </ul>
    
          </div>
          {{ end }}


  <div class="gitinfo source-sans-pro mt3">

{{ $filepath := ( replace .Page.File.Path "\\" "/" ) }}
      
{{- with .GitInfo }} 
<div class="commit-info ba b--light-silver mt5 mb1" >

  <div class="commit-top-pane bg-washed-blue">
    <a href="https://github.com/guneysus/blog/commit/{{ .AbbreviatedHash }}">
      <p class="commit-title link dim black b m0 pl1 dark-gray fira fw5">{{ .Subject }}</p>
    </a>
  </div>

  <div class="commit-bottom-pane pt2 pb3 pl2">
    <div class="commit-detail">  
      <a class="avatar" href="/guneysus">
        <img height="32" width="32" src="https://avatars0.githubusercontent.com/u/949232?s=60&amp;u=3ab7c10f22efe3c41880c4e517ef55d02e55dfe6&amp;v=4" class="">
      </a>
    </div> 
    
    <div class="commit-meta">
      <span class="commit-author">{{ .AuthorName }}</span> <span class="commit-date">
        <a class="link dim" href="https://github.com/guneysus/blog/commit/{{ .AbbreviatedHash }}">committed</a>
        at {{ .AuthorDate.Format "January 2, 2006 Monday" }}</span>      

        <a href="https://github.com/guneysus/blog/commit/{{ .AbbreviatedHash }}/content/{{ $filepath }}" target="_blank">Diff</a>     
    </div>

  <div class="commit-actions ml0 pl2 mt2 pt2 mr7 bt b--light-gray">
    <a 
    target="_blank"
    class="link black bg-animate dim ph1"
    href="https://github.com/guneysus/blog/commit/{{ .AbbreviatedHash }}#new_commit_comment_field">
    <i class="icon icon-comment"></i> write a review
  </a>
  
  <a 
  class="link black bg-animate dim ph1"
  href="https://github.com/guneysus/blog/commits/{{ .AbbreviatedHash }}/content/{{ $filepath }}" 
  target="_blank"><i class="icon icon-history"></i>History</a>
  
  <a 
  class="link black bg-animate dim ph1"
  href="https://github.com/guneysus/blog/commits/master/content/{{ $filepath }}.atom">
  <i class="icon icon-rss"></i>Subscribe</a>    
  </div>    
  </div>
</div>



</div>



{{ end }}
        </article>
      </section>

      <section class="mw7 center span">
        {{ partial "footer.html" . }}
      </section>
      
    </div>
  </body>
</html>
