<article class="article-list-item mt2 mb4 pv2"></article>
  <div class="article-content">
    <div class="flex flex-column flex-row-ns">

      <div class="w-100 w-70-ns order-2 order-1-ns pr3">
        <h1 class="f3 f2-l f2-m f2-ns lh-title source-sans-pro mb1">
          <!-- {{ .Title }} -->
          <a href="{{ .Permalink }}" class="link dim black">{{ .Title }}</a>
        </h1>

        <div class="article-info source-sans-pro black-60 pv2">

            <span class="fl relative left-0">
                <time class="relative left-0">{{ .Date.Format "Jan 02, 2006" }}  <i class="icon icon-calendar"></i></time>
            </span>

            <span class="fr relative right-0" data-words-count="{{ countwords .Content }}" data-minutes-read="{{ (div (countwords .Content) (300)) }}">
                    {{ (div (countwords .Content) (300)) }} minutes <i class="icon icon-hourglass-2"></i> 
            </span>

            <div class="cf"></div>
        </div>
        
        <p class="f3 lh-comfort tj source-sans-pro mt3">
          {{ .Summary }}
        </p>
        
        <div class="article-tags pb2 tj">
            {{ if .Params.tags }}
              <span class="">
                {{ range $index, $tag := .Params.tags }}
                {{ if gt $index 0 }}
                {{ end }}
                </i>
                <a class="article-tag source-sans-pro link xdim black-30 f5 fw1 lh-wide br3 bg-near-white pv1 ph2"
                aria-label="Go to {{ $tag}} tag"
                href="{{ "tags/" | relURL }}{{ . | urlize }}"><i class="icon icon-hash"></i>{{ $tag }}</a>
                {{ end }}</span>
              {{ end }}  
            </div>        
      </div>

      <div class="order-1 order-2-ns w-100 w-30-ns">
      {{ if .Params.Thumb }} 
        <div class="article-thumbnail-img-container h-100 bl b--light-gray">
        <img
          data-src="{{ .Params.Thumb }}"
          src="/static/placeholder.png"
          class="article-thumbnail-img w-100 lazy v-mid pl2"
          {{ if .Params.ThumbAlt }} 
            alt="{{ .Params.ThumbAlt }} "
          {{ end }}      
          />
        </div>

      {{ else }}
        <div class="h-100 b--light-gray"></div>
      {{ end }} 
      </div>

    </div>

    <!-- <p class="f6 lh-copy gray mv0">By <span class="ttu">Robin Darnell</span></p> -->



  </div>
</article>    