  <!DOCTYPE html>
  <html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <title>Tag: {{ .Title }} | {{ .Site.Params.AuthorName }} </title>
  
    <body class="body">
        {{ partial "page-bug-reporter.html" . }}
      <div class="container ph2">
  
        <section class="mw7 center">
            {{ partial "header.html" . }}
            <main class="content" role="main">

              <div class="article-list pt3 pb5">
                <h2 class="f2 source-sans-pro mt0 lh-title mt2">{{ .Title }}</h2>

                <!-- <a class="link dim black" href="javascript:void(0)"></a> -->
                
                {{ range (.Paginator 9999999).Pages }}
                  {{ partial "list-item.html" . }}
                {{ end }}
                </div>
            
              <!-- {{ partial "pagination.html" . }} -->
            
            </main>
          
        </section>
  
      <section class="mw7 center">
        {{ partial "footer.html" . }}
      </section>

      </div>
    </body>
  </html>

  