<!-- {{ partial "header.html" . }}

<main class="content" role="main">

  <div class="list">
    <h2 class="list-title">{{ .Title }}</h2>
    {{ range .Paginator.Pages }}
     
    {{ partial "list-item.html" . }}

    {{ end }}
   </div>

  {{ partial "pagination.html" . }}

</main>

{{ partial "footer.html" . }} -->


<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
    <div class="container">

        {{ partial "header.html" . }}
      <main class="content" role="main">

          <div class="list">
            <!-- <h2 class="list-title">{{ .Title }}</h2> -->
            {{ range .Paginator.Pages }}
             
            {{ partial "list-item.html" . }}
        
            {{ end }}
           </div>
        
          {{ partial "pagination.html" . }}
        
        </main>
      </div>   
  </body>
</html>