<!-- for the search only version -->
<!-- <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script> -->

<!-- for the default version -->
<!-- <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch.umd.js"></script> -->

<!-- <script src="/js/search.js"></script> -->


<style>

</style>

<section class="mw7 center pt2 mt1 fr">
<div class="search">
    <input type="search"
    placeholder="search" name="search"
       class="search input-reset bw1 bb b--light-gray b--dotted pa2 fira fw5" />

    <ul class="results lh-title source-sans-pro" >
        <!-- <li><a href="index.html">Search Result #1<br /><span>Description...</span></a></li>
        <li><a href="index.html">Search Result #2<br /><span>Description...</span></a></li>
        <li><a href="index.html">Search Result #3<br /><span>Description...</span></a></li>
        <li><a href="index.html">Search Result #4</a></li> -->
    </ul>       
</div>

</section>  


<script type="module" src='/js/search.js'></script>

