
<footer class="site-footer mb5 ">
    <div class="">
      <nav class="site-nav f3 bg-washed-yellow br2 ba b--black-10 p0 pv3 ph3 mt6">

        <a href="{{ .Site.BaseURL }}" class="link dim mid-gray pv2 ph1" aria-label="Go to home">
          <i class="icon icon-home"> </i>
        </a>

<span class="black-30">|</span>

        <a href="{{ .Site.BaseURL }}tags" class="link dim mid-gray pv2 ph1" aria-label="Go to Tags">
          <i class="icon icon-tags"> </i>
        </a>        

        <a href="{{ .Site.BaseURL }}post/" class="link dim mid-gray pv2 ph1" aria-label="Go to Posts">
          <i class="icon icon-doc-text"> </i>
        </a>

<span class="black-30">|</span>
        <a href="https://stackoverflow.com/users/1766716/guneysus" class="link dim mid-gray pv2 ph1 icon-social-tumblr" aria-label="Go to my stackoverflow profile page">
          <i class="icon icon-stackoverflow"> </i></a>
        
        <a href="https://www.linkedin.com/in/guneysu" class="link dim mid-gray pv2 ph1 icon-social-linkedin" aria-label="Go to my Linkedin profile page">
          <i class="icon icon-linkedin"> </i> 
        </a>

        <a href="http://github.com/guneysus" class="link dim mid-gray pv2 ph1" aria-label="Go to my Github profile page">
          <i class="icon icon-github-circled"></i>
        </a>

        <!-- <a href="https://guneysu.tumblr.com/" class="link dim mid-gray pv2 ph1">
          <i class="icon icon-tumblr"> </i>
        </a> -->


<span class="black-30">|</span>
          {{/*  TODO POST PAGES GIVES WRONG RSS  */}}
          <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" class="link dim mid-gray pv2 ph1" aria-label="Subscribe via RSS">
            <i class="icon icon-rss"> </i>
          </a>
                  
        <!-- <span class="owner">{{ now.Year }} {{ .Site.Params.Author }} </span> -->
      </nav>
    </div>


  </footer>

  
{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}

{{ $fontello := resources.Get "css/fontello.css" | toCSS $options | minify | fingerprint }}
{{ $codeTheme := resources.Get "css/pygments/autumn.css" | toCSS | minify | fingerprint }}

<link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" href="{{ $fontello.Permalink }}">  
<link rel="stylesheet" href="{{ $codeTheme.Permalink }}">

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>
<a href="//www.dmca.com/Protection/Status.aspx?ID=6be811ac-1857-4dc8-8589-9e508345c4d3" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120l.png?ID=6be811ac-1857-4dc8-8589-9e508345c4d3"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>