<header class="">
  <h2 class="f4 source-sans-pro fw3 ph3 ph0-l mb1">
    <!-- {{ .Site.Params.Tagline }} -->
    <a href="{{ .Site.BaseURL }}" class="title box link mid-gray xdim">
      {{ .Site.Params.Tagline }}
    </a>
  </h2>
</header>


  <!-- sidebar start -->
  <nav class="tc mw7 mt4 roboto fr bt bb w-100 b--black-10">
    <div class="db dtc-l v-mid w-100 center">
      {{ $currentPage := . }}
        {{ range sort .Site.Menus.main "Weight" }}
          {{ $.Scratch.Set "active" ($.IsMenuCurrent "main" .) }}
            {{ $active := $.Scratch.Get "active" }}
              <a class="{{ if $active }}active fw7 {{end}} f6 f5-l link bg-animate black-80 hover-bg-light-red dib pa3 ph3-l" href="{{ .URL }}">
                <span>
                  {{ .Pre }}
                  {{ .Title }}
                  {{ .Post }}
                </span>
                </a>
          </li>
        {{ end }}
    </div>
  </nav>
<div class="cf"></div>
